.btn{
    text-decoration: none;
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    transition: 0.5s;
}
.btn:hover{
    color: #ffbb33;
    background-color: rgba(34, 34, 34, 0.895);
}